<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>TO DO List with ejs</h1>
    <hr>
   <h1><%= currentDayType%></h1>

   <hr>
   <h2>TODO List</h2>
   <ul>
    <li>Buy food</li>
    <li>Eat Food</li>
    <li>Cook Food</li>
    <li><%= newItem %></li>

    <% for( let index = 0; index < newItem.length; index++ ) { %>
    <li><%= newItem[index] %></li>
    <% } %>
   </ul>

   <form action="/add" method="post">
        <label for="additem">
            Add Todo 
        </label>
        <input type="text"  id="additem" name="addInput">
        <button type="submit">Add</button>
   </form>
</body>
</html>